In [3]:
import pandas as pd

In [6]:
df  = pd.read_excel("Bel-first_Export_1.xls",sheet_name = "Résultats")
for i in range(2,10):
    name = "Bel-first_Export_"+str(i)+".xls"
    df_read = pd.read_excel(name,sheet_name = "Résultats")
    df = pd.concat([df,df_read],ignore_index = True)
    print(df.shape)
    #print(name)

WARNING *** file size (14128826) not 512 + multiple of sector size (512)
(30000, 55)
WARNING *** file size (13966184) not 512 + multiple of sector size (512)
(45000, 55)
WARNING *** file size (14235420) not 512 + multiple of sector size (512)
(60000, 55)
WARNING *** file size (14264999) not 512 + multiple of sector size (512)
(75000, 55)
WARNING *** file size (14342542) not 512 + multiple of sector size (512)
(90000, 55)
WARNING *** file size (14558554) not 512 + multiple of sector size (512)
(105000, 55)
WARNING *** file size (13532399) not 512 + multiple of sector size (512)
(120000, 55)
WARNING *** file size (13465105) not 512 + multiple of sector size (512)
(135000, 55)

In [8]:
df2  = pd.read_excel("Bel-first_Export_10.xls",sheet_name = "Résultats")
for i in range(11,21):
    name = "Bel-first_Export_"+str(i)+".xls"
    df_read = pd.read_excel(name,sheet_name = "Résultats")
    df2 = pd.concat([df2,df_read],ignore_index = True)
    print(df.shape)
    #print(name)

WARNING *** file size (13171442) not 512 + multiple of sector size (512)
WARNING *** file size (13457084) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13228774) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13296619) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13388729) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13260741) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13254610) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13215436) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13204217) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13074611) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (13042886) not 512 + multiple of sector size (512)
(135000, 55)

In [9]:
df3  = pd.read_excel("Bel-first_Export_21.xls",sheet_name = "Résultats")
for i in range(22,33):
    name = "Bel-first_Export_"+str(i)+".xls"
    df_read = pd.read_excel(name,sheet_name = "Résultats")
    df3 = pd.concat([df3,df_read],ignore_index = True)
    print(df3.shape)
    #print(name)

WARNING *** file size (13655806) not 512 + multiple of sector size (512)
WARNING *** file size (13918341) not 512 + multiple of sector size (512)
(30000, 55)
WARNING *** file size (13635690) not 512 + multiple of sector size (512)
(45000, 55)
WARNING *** file size (13716338) not 512 + multiple of sector size (512)
(60000, 55)
WARNING *** file size (13945151) not 512 + multiple of sector size (512)
(75000, 55)
WARNING *** file size (13706470) not 512 + multiple of sector size (512)
(90000, 55)
WARNING *** file size (12839387) not 512 + multiple of sector size (512)
(105000, 55)
WARNING *** file size (12872322) not 512 + multiple of sector size (512)
(120000, 55)
WARNING *** file size (12908095) not 512 + multiple of sector size (512)
(135000, 55)
WARNING *** file size (12952699) not 512 + multiple of sector size (512)
(150000, 55)
WARNING *** file size (12961909) not 512 + multiple of sector size (512)
(165000, 55)
WARNING *** file size (7346103) not 512 + multiple of sector size (512)
(173533, 55)

In [10]:
df_total = pd.concat([df,df2,df3],ignore_index = True)
df_total.shape

(473533, 55)

In [11]:
df_total.head()

,Unnamed: 0,Nom,Commune,"NACE BEL 2008,\ncode primaire",Dernière année,Tête de groupe - Nom,Numéro\nBvD,Province,Statut,Situation juridique,...,Effectif moyen du personnel\nDernière année disp.,Effectif moyen du personnel\n2020,Effectif moyen du personnel\n2019,Effectif moyen du personnel\n2018,Effectif moyen du personnel\n2017,Effectif moyen du personnel\n2016,Effectif moyen du personnel\n2015,Effectif moyen du personnel\n2014,Effectif moyen du personnel\n2013,Effectif moyen du personnel\n2012
0,1.0,GLAXOSMITHKLINE BIOLOGICALS,RIXENSART,21201.0,2020.0,GLAXOSMITHKLINE PLC,BE0440872918,Brabant Wallon,Actif,Situation normale,...,8753,8753,8883,8968,8644,8387,8474,8212,7697,7426
1,2.0,MASTERCARD EUROPE,WATERLOO,66199.0,2020.0,MASTERCARD,BE0448038446,Brabant Wallon,Actif,Situation normale,...,480,480,469,451,454,453,448,458,462,366
2,3.0,AW EUROPE,BRAINE-L'ALLEUD,29320.0,2020.0,AISIN CORPORATION,BE0441938532,Brabant Wallon,Actif,Situation normale,...,638,638,681,746,711,688,665,657,671,717
3,4.0,ZOETIS BELGIUM,LOUVAIN-LA-NEUVE,21201.0,2020.0,ZOETIS INC.,BE0401953350,Brabant Wallon,Actif,Situation normale,...,547,547,514,503,511,514,537,529,440,294
4,5.0,LAMPIRIS,LIEGE,35140.0,2020.0,TOTALENERGIES SE,BE0859655570,Liège,Actif,Situation normale,...,185,185,194,192,193,165,162,n.d.,143,113

In [12]:
df_total.to_csv("benelux.csv")